* {
	font-family: 'Raleway', sans-serif;
	color: #434d56;
	font-weight:300;
	line-height: 1.5;
}

b {
	font-weight:700;
	color: #8A9A5B;
}

a {
	text-decoration: none;
	font-weight: 450;
}

a:visited{
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: space-around;
}

/* headshot */
.pic {
	padding-top: 1%;
	padding-left: 20%;
	/* padding-right: 10%; */
	left: 90%;
}


/* title */
h1 {
	font-family: 'Crimson Text', serif;
	font-size: 2em;
	display:table;
	margin:auto;
	padding: 2px 8px 2px 8px;
	color: #336600;
}

a:hover {
	color: #8A9A5B;
}

.menu {
	text-align:center;
}

.menu a {
	font-weight: 400;
}

/* content text */
.intro {
	float: right;
	left: 50%;
	padding-top: 2%;
	width: 40%;
}

.research {
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 10%;
	left: 90%;
}

.other {
	padding-top: 5%;
}

