* {
	font-family: "Open Sans", sans-serif;
	color: #434d56;
	font-weight:300;
}

.pic img {
	width:40%;
	height: 50%;
	background-attachment: fixed;
	position: absolute;
	top: 20%;
	left: 5%;
}


/* header list */
.header li {
	display: inline;
	padding: 0px 32px 0px 32px;

}

.header ul {
	text-align:right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 0;
}

/* in-text list */
.text li{
	display: list-item;
	font-weight: 300;
	margin: 0px 0px 5px 0px;
}

.text ul {
	text-align: left;
	list-style-type: none;

}

/* header links */
.header a {
	text-decoration: none;
	font-weight: 600;
}

.header a:visited{
	text-decoration: none;
}

.header a:hover{
	font-weight: 600;
	color: lightslategrey;
}
/* in-text links */
.text a {
	text-decoration: none;
	font-weight: 400;
}

.text a:visited{
	text-decoration: none;
}

.text a:hover{
	font-weight: 400;
	color: lightslategrey;
}

/* title */
h1 {
	font-family: "Abel", sans-serif;
	font-size: 42px;
	display:table;
	margin:auto;
	border-style: solid;
	border-width: 2px;
	padding: 2px 8px 2px 8px;
}

/* content text */
.text {
	display: inline-block;
	position: relative;
	left: 50%;
	padding-top: 100px;
	width: 40%;
}

.text .secretlink a {
	text-decoration:none;
	font-weight: 300;
}

.text .secretlink a:visited{
	text-decoration: none;
}

.text .secretlink a:hover{
	text-decoration:none;
	color: #434d56;
}


